<div class="conainer">
  <div fxLayout="column" fxLayoutAlign="space-around center" >
    <h1 class="stronger m-b-10">Bienvenue à la conférence de PEAR </h1>
    <div>Le questionnaire va commencer dans quelques minutes</div>
    <div>Vous trouverez le formulaire ici :</div>
    <h2>https://tertara.netlify.com/public</h2>
  </div>

  <img src="assets/svg/fans.svg"  alt="waiting image"/>


  <div>
    <button  mat-raised-button color="primary" (click)="goToTheFuture()">To the future !</button>
  </div>
</div>
