<div>QUESTION PRES PAGE !</div>

<div *ngIf="(currentQuestion$ | async) as question; else loading">
  <div>{{ question.title }}</div>

  <div>QID : {{ question.id }}</div>

  <ol *ngIf="!question.ignoreResponse; else ignoreResponce">
    RESP
  </ol>

  <ng-template #ignoreResponce>DON T CARE</ng-template>

  <div>HELLO THERE</div>
  <pre>
    {{ answerForCurrent$ | async | json }}
  </pre>

  <button (click)="goToNextQuestion()">next !</button>
</div>

<ng-template #loading>
  <ng-container *ngIf="(isQuestionsOver$ | async); else trueLoading">
    La réponce est BRAVO !

    <button (click)="finishForm()">Back to the future</button>
  </ng-container>

  <ng-template #trueLoading>LOADING</ng-template>
</ng-template>
