<div
  fxLayout="column" fxLayoutAlign="space-around center" fxFlex
>
  <ng-container *ngIf="(currentQuestion$ | async) as question; else loading">

    <h1>{{ question.title }}</h1>

    <ng-container *ngIf="!question.ignoreResponse; else ignoreResponce">

      <div class="graph">
        <ngx-charts-bar-vertical
          [scheme]="colorScheme"
          [results]="answerForCurrent$ | async "
          [gradient]="false"
          [legend]="false"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true">
        </ngx-charts-bar-vertical>
      </div>

    </ng-container>

    <ng-template #ignoreResponce>
      <div>
        Collecte des réponses en cours...
      </div>
      <img src="assets/svg/collect.svg" alt="collecting answers"/>
    </ng-template>

    <button mat-raised-button color="primary" (click)="goToNextQuestion()">Next</button>
  </ng-container>


  <ng-template #loading>
    <ng-container *ngIf="(isQuestionsOver$ | async); else trueLoading">
      <h2>Et la réponse est...</h2>
      <h1 class="stronger" [@bounce]="bounce">BRAVO</h1>
      <button mat-raised-button color="primary" (click)="finishForm()">Next</button>
    </ng-container>

    <ng-template #trueLoading>
      <mat-spinner color="primary" strokeWidth="3" diameter="100" mode="indeterminate"></mat-spinner>
    </ng-template>
  </ng-template>



</div>
